// Specific CSS for your home-page
.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-content-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home-content-1 p {
  color: white;
  font-size: 36px;
}

.btn-home {
  margin-top: 40px;
}

.steps {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  p {
    margin-top: 30px;
    width: 310px;
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title-steps {
  margin-bottom: 70px;
  font-size: 24px;
  border-bottom: 4px solid $secondary;
}

.title-one {
  width: 100px
}

.title-two {
  width: 130px
}

.title-three {
  width: 160px
}

.frames {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.frame {
  background-color: #F9F9F9;
  width: 70vw;
  height: auto;
  border-radius: 5px;
  padding: 70px;
  margin-bottom: 150px;
  border: 2px solid $secondary;
}

.frame-title {
  font-size: 24px;
  width: fit-content;
  border-bottom: 4px solid $secondary;
  margin-bottom: 50px;
  p {
    margin-bottom: 1px;
  }
}

.frame-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.frame-list {
  margin: 10px 0px;
  list-style-type: circle;
}

.frame-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
