.index-img {
  background-size: cover;
  background-position: center;
}

.charities_link a {
  text-decoration: none;
}

.charities_link .card:hover {
  opacity: 0.8;
}

.card-charity-infos {
  height: 130px;
}

.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.environment {
  border: 2px solid $third;
  color: $third;
  &:hover, &.active {
    color: white;
    background: $third;
  }
}

.health {
  border: 2px solid $fourth;
  color: $fourth;
  &:hover, &.active {
    color: white;
    background: $fourth;
  }
}

.education {
  border: 2px solid $fifth;
  color: $fifth;
  &:hover, &.active {
    color: white;
    background: $fifth;
  }
}

.insertion {
  border: 2px solid $sixth;
  color: $sixth;
  &:hover, &.active {
    color: white;
    background: $sixth;
  }
}
