.photos {
  display: flex;
  height: 40vh;
}

.picture-show {
  border: 1px solid black;
  width: 33.333vw;
}

.charity-name {
  font-size: 48px;
  p {
    margin: 0px;
  }
}

.header-show {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 20px 0px 10px 0px;
}

.badge-suivre {
  margin: 0px 30px;
}

.video {
  width: 60vw;
  height: auto;
  margin: 20px 0px;
}

.footer-show {
  margin: 20px 0px 40px 0px;
}

.bottom_details {
  text-align: center;
}


