<div class="wrapper", style="background-color: white">
  <div class="container">
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>Mes ONGs</h3>
      </a>
      <a class="tab" href="#">
        <h3>Mon Plan</h3>
      </a>
    </div>
    <div class="row cards-dashboard">
      <% current_user.donations.each do |donation| %>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card-dashboard">
            <%= cl_image_tag(donation.charity.photo[0], class: 'dashboard-img') %>
            <div class="title">
              <%= donation.charity.name %>
              <%= link_to "Unfollow", user_donation_path(current_user, donation), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn-ghost-2' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

