<div class="wrapper", style="background-color: white">
  <div class="container">
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>Mon Dashboard</h3>
      </a>
      <a class="tab" href="#">
        <h3>Mon Historique</h3>
      </a>
    </div>
    <div class="row cards-dashboard">
      <% current_user.donations.each do |donation| %>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card-dashboard">
            <%= cl_image_tag(donation.charity.photo[0], class: 'dashboard-img') %>
            <div class="title">
              <%= donation.charity.name %>
              <!-- Button trigger modal -->
              <button type="button" class="btn-ghost-2" data-toggle="modal" data-target="#exampleModalCenter">
                Unfollow
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">It is the end of a beautiful story </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Thank you so much <i class="fas fa-heart" style='color:red;'></i>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <%= link_to "Unfollow", user_donation_path(current_user, donation), method: :delete, class: 'btn-ghost-2' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

