<div class="wrapper wrapper-home content", style="background-image: url(<%= asset_path 'home-wrapper.png' %>) ">
  <div class="home-content-1">
      <p>Simple</p>
      <p>Impactful</p>
      <p>Transparent</p>
      <p><strong>Donations as it should be</strong></p>
      <%= link_to "Deviens génial", root_path, class: "btn-home btn-ghost" %>
  </div>
</div>
<div class="wrapper", style="background-color: white">

</div>
