<div class="photos">
  <%= cl_image_tag @charity.photo[1] %>
  <%= cl_image_tag @charity.photo[2] %>
  <%= cl_image_tag @charity.photo[3] %>

</div>
<div class="caracteristics">
  Display main caracteristic of the charity
</div>
<div class="video">
  Video presentation of the charity
</div>
<div class="content">
  Details about the NGO and its goal
</div>
<div class="buttons">
  link to follow
  link to discover the charity website
</div>

