.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.card-description {
}

.card-description h2 {
  font-size: 16px;
  margin: 0px;
}

.card-charity {
  overflow: hidden;
  background: white;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
  margin: 15px 0px;
}

.charity-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-charity h2 {
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
  text-align: left;
  color: $secondary;
}

.card-charity p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-align: left;
  font-style: italic;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}


.card-charity .card-charity-infos {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 180px;
}

.card-charity-infos .card-charity-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.badge-pill {
  color: white;
  background-color: $secondary;
}

.cards a {
  text-decoration: none;
}

.cards a:hover {
  opacity: 0.7;
}

.card-dashboard {
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
  color: $secondary;
  padding: 20px;
  margin: 50px 10px 0px 10px;
}

.cards-dashboard::last-child {
    margin-right: 0px;
}

.cards-dashboard {
  position: relative;
  margin: 0px 0px 30px 0px;
}

.card-dashboard-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-dashboard-footer .title {
  font-size: 18px;
  margin: 15px 0px -15px 0px;
  font-weight: bold;
  text-decoration: none;
  color: $secondary;
  &:hover {
    text-decoration: underline;
  }
}

.card_filter {
  height: 32px;
  background-color: white;
  color: $secondary;
  text-shadow: none;
  border-color: $secondary;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.card_filter:hover {
  height: 32px;
  background-image: image-url('home-wrapper.png');
  color: white;
  text-decoration: none;
}

.card-add {
  height: 50vh;
  background-color: rgba(246, 166, 150, .5);
  margin: 10px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid $secondary;
  border-radius: 1%;
  &:hover {
    background-color: rgba(246, 166, 150, .7);
  }
  i {
    color: white;
    font-size: 86px;
  }
  p {
    color: white;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 18px;
  }
}



// .card-dashboard-footer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-around;
// }

