.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: $secondary;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: $secondary;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
