#edit_donation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 28px;
  input[type=radio] {
    display: none;
  }
  input[type=radio]+label{
    display: block;
    background-color: $secondary;
    border: 3px solid white;
    color: white;
    height: 40px;
    width: 60px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  input[type=radio]:checked+label{
    background-color: white;
    color: $secondary;
  }
  legend {
    display: none;
  }
  .form-check {
    display: block;
    height: 40px;
    width: 70px;
    margin: auto;
  }
}
