.wrapper {
  background-size: cover;
  background-position: center;
  text-align: center;
  height: calc(100vh - 70px);
  width: 100vw, !important;
}

.wrapper-home {
    margin-top: -70px;
    height: 100vh;
}

.wrapper-intro {
  padding: 100px 50px;
  height: auto;
  background-color: #F9F9F9;
}
